*{
    margin: 0 ;
    padding: 0;
    text-align: center;
    background-color: rgb(248, 213, 233);
}
h1{
    background-color: rgb(178, 238, 238);
    font-family: Georgia;
    color: rgb(255, 255, 255);
    height: 4rem;
    line-height: 4rem;
}
.choise{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
    
}
.choise1:hover{
    opacity:0.6;
    cursor: pointer;
}
img:hover{
    border: rgb(86, 78, 78) solid 6px;
    
}
.choise1{
    height: 170px;
    width: 170px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:20% ;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 4rem;
    gap:5rem;
}
#user1, #com{

    font-size: 6rem;
}

#msg{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding:1.3rem;
    border-radius: 1rem;
}
